{% extends 'index.html' %}
{% load static crispy_forms_tags %}
{% block header %}

{% endblock %}
{% block content %} 
    
<div class="container-fluid" style="height: 100vh;" >

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if messages.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="jumbotron m-3 p-2" style="background-color:  #ccd1d6;min-height: 90vh;">
        <h1 style="text-align: center; " class="page-title pt-5">{{title}}</h1>
        <div class="row">

            <div class="col-sm-2">
                <div class="p-2">
                    <form action="" method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input class="btn btn-primary mybutton" type="submit" value="Axtar">
                    </form>
                    <div class="mt-4">

                        <a href="{%url 'add_items'%}"><div class="btn btn-primary mybutton">Avadanlıq əlavə et</div></a>
                        <a href="{%url 'list_history'%}"><div class="btn btn-primary mybutton">Tarixçə</div></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="shadow p-3 mb-5  rounded" style="background-color: #b7c3d1;" >
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SAY</th>
                                <th>KATEQORİYA</th>
                                <th>ALTKATEQORİYA</th>
                                <th>AVADANLIĞIN ADI</th>
                                <th>ANBARDAKI SAY</th>
                                <!-- <th>REORDER LEVEL</th> -->
                                <!-- <th>TIMESTAMP</th> -->
                                <th>SON DƏYİŞİKLİK TARİXİ</th>
                                
                            </tr>
                        </thead>
                        {% for instance in queryset %}
                        <tr>
                            
                            <td>{{forloop.counter}}</td>
                            <td>{{instance.category.parent_cat}}</td>
                            <td><a href="{% url 'category_detail' instance.category.id %}" style="text-decoration: none;">{{instance.category.name}}</a></td>
                            <td>{{instance.item_name}}</td>
                            <td>
                                {% if instance.quantity <= instance.reorder_level %}
                                <div style="background-color: orange;">
                                    <a href="{% url 'stock_detail' instance.id %}" style="text-decoration: none;">{{instance.quantity}}</a>
                                </div>
                                {% else %}
                                <a href="{% url 'stock_detail' instance.id %}" style="text-decoration: none;">{{instance.quantity}}</a>
                                {% endif %}
                            </td>
                            <!-- <td><a href="{% url 'reorder_level' instance.id %}">{{instance.reorder_level}}</a></td> -->
                            <!-- <td>{{instance.timestamp}}</td> -->
                            <td>{{instance.last_updated}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
